

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* background-color: #3A95C0 ; */
  /* background-color: #5AC03A ; */
  /* background-color: #3a96c0  ; */
  background-color: #2f302f  ; 
  /* background-color: #C03A95  ;  */
  /* background-color: #C0953A  ;  */
  color: #95C03A;
}

.logo {
  width: 192px;
  height: 192px;
  margin: 0 auto;
  display: block;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  margin: 20px;
  font-weight: light;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #95C03A;
  color: white;
  cursor: pointer;
  /* box-shadow: white 2px 2px 2px; */
  transition: all 0.3s ease;
}

button:hover {
  background-color: #789a2e;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

input {
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #95C03A;
  color: white;
  transition: all 0.3s ease;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:focus {
  border: 1px solid white;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.381);
  transform: scale(1.1);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropdown {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropdown-select {
  padding: 10px 20px;
  font-size: 1.2rem;

  border: none;
  border-radius: 5px;
  background-color: #95C03A;
  color: white;
  cursor: pointer;
  appearance: hidden;

}

.dropdown-option {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #b2e349;
  color: white;
  cursor: pointer;
}

.select-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.input {
  margin-top: 20px;
}

.reset-button {
  background-color: #DB2219;
  margin-top: 0;
}

.reset-button:hover {
  background-color: #a71c15;
  margin-top: 0;
}



.form-create {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.selected-bar {
  display: flex;
  flex-direction: grid;
  flex-wrap: nowrap;
  margin-top: 10px;
}

.warning {
  color: #c21f16;
  font-size: 1.2rem;
  margin-top: 10px;
}

.trainee-badge,
.trainer-badge {
  padding: 5px;
  margin: 5px;
  background-color: #95C03A;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}
.router-link {
  padding: 2px;
  color: #95C03A;
  background-color: rgba(98, 90, 90, 0.507);
  text-decoration: underline;
}
